body{
  font-family:Arial, sans-serif;
  margin:0px;
  padding:0px;
  background-color:#f4f4f4;
}

nav{
  background-color:#333;
  padding:10px 0;
  text-align: center;
}

nav ul{
  list-style-type:none;
  padding: 0;
}

nav ul li{
  display: inline-block;
  margin: 0 15px;
}

nav ul li a{
  color: white;
  text-decoration:none;
  font-size:20px;
}

section:first-of-type {
  text-align: center;
  padding: 50px;
  background-color:#007BFF;
  color:White;
}

button{
  padding:10px 20px;
  background-color:#fff;
  color:#007BFF;
  border:none;
  cursor:pointer;
  font-size:16px;
  margin-top:10px;
}

button:hover {
  background-color: #ddd;
}

section{
  background-color:white;
  margin:20px;
  padding:20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

ul{
  list-style-type:none;
  padding:0;
}

li{
  margin-bottom: 20px;
}

form{
  display: flex;
  flex-direction:column;
  width: 55px;
  margin:auto;
}

input, textarea {
 padding:10px;
 margin:5px 0;
 border: 1px solid #ccc;
 border-radius: 5px;
}

button[type="submit"] {
  width:100px;
  background-color:#28a745;
  color:white;
  text-align:top;
}

button[type="submit"]:hover {
  background-color:#218838;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
}
